<style>
  .mat-form-field {
    width: 45%;
  }
</style>
<h1 mat-dialog-title>Add new book</h1>
<div mat-dialog-content>
  <mat-form-field style="width:100%">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="book.title">
  </mat-form-field>
  <mat-form-field style="width:60%;padding-right: 10%">
    <mat-label>Author</mat-label>
    <input matInput [(ngModel)]="book.author">
  </mat-form-field>
  <mat-form-field style="width:30%">
    <mat-label>Edition</mat-label>
    <input matInput [(ngModel)]="book.edition">
  </mat-form-field>
  <mat-form-field style="padding-right: 10%">
    <input matInput [matDatepicker]="dp" placeholder="Published Date" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select Category</mat-label>
    <mat-select [(value)]="book.category">
      <mat-option *ngFor="let category of categoryList" [value]="category.id">
        {{category.categoryName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions style="float:right">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="saveBook()" cdkFocusInitial>Save</button>
</div>
